/* Contains the nav bar and the title */

html {
    background-color: #BFFFF0;
    background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
}

#home {
    /* background-color: #BFFFF0; */
    text-align: center;
    color: #000;
    /* background-image: url(../Images/always-grey.png); */
    min-height: auto;
    min-width: 100%;
    /* background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png"); */
    position: absolute;
}

/* Navbar. ID = nav */

#nav {
    font-family: 'Roboto', sans-serif;


    padding: 1% 10%;
}

.navbar {
    border-style: solid;
    border-width: 1px;
    animation: 2s ease-out 0s 1 appear;
    background-color: #BFFFF0;
}

.navbar-brand {
    padding: 0% 2% 0% 1%;
    border-right: 1px solid;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 2rem;
}

.nav-item {
    margin: 0% 4%;
}

#top {
    padding: 12.2%;
    /* position: absolute; */
}

.bigTitle {
    font-size: 4rem;
    font-family: 'Roboto Serif', sans-serif;

}

.subTitle {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

.caption {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

.paragraph {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

    margin: 2%;
}

.title-btn {
    margin: 3%;
    padding: 1%;

}


/* .row {
    margin: 3%;
} */

.pfp {
    /* position: relative;
    right: 20%; */
    min-width: 100%;
    max-height: auto;
}

.pfp2 {
    position: relative;
    /* left: 20%; */
    max-width: 100%;
    max-height: auto;
}

.picRow {
    margin: 6% 0%;
    /* padding: 2%; */
}

.picCol {
    padding: 0%;
}

.textRow {
    text-align: left;
}

/* Body area. Start of Experience id=intro */

.invisible {
    visibility: hidden;
    position: fixed;
}

#abo {
    /* position: absolute; */
    padding: 1% 10%;
    height: auto;
}

#exp {
    /* position: absolute; */
    padding: 1% 10%;
}

#ski {
    /* position: absolute; */
    padding: 1% 10%;
}

#pro {
    /* position: absolute; */
    padding: 1% 10%;
}

#con {
    /* position: absolute; */
    padding: 1% 10%;
}

.para {
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.textBox {
    border: 1px solid black;
    padding: 4%;
    background-color: #BFFFF0;
    margin-top: 6%;
}

.textBox:hover {
    background-color: #d9fff6;
}

.textBoxSkills {
    border: 1px solid black;
    padding: 2%;
    background-color: #BFFFF0;
}

.textBoxSkills:hover {
    background-color: #d9fff6;
}

.skiRow {
    margin: 2% 0%;
}